{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a digital archivist and coder.</h3>
        <h3>I work at the <a href="https://www.cca.qc.ca/en/" target="_blank">Canadian Centre for Architecture</a> in Montréal.</h3>
        <h3>What I'm into lately: Python/Django, making METS files easier to navigate and explore, sustainable digital preservation practices, software preservation, learning Javascript</h3>
        <h3>Have a look at some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more check out my academic &amp; professional <a href="{{ .Site.BaseURL }}cv/">CV</a>.</h3>
        <h3>Contact me at <a href="https://twitter.com/{{ .Site.Params.Social.Twitter }}">@{{ .Site.Params.Social.Twitter }}</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
